.navbar {
    display:flex ;
    padding: 20px 10px;
    float: right;
    padding: 50px;
    overflow: hidden;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    font-weight: 800;
    color: #ffffff;
    margin-right: 35px;
    text-decoration: none;
    transition: 1s;
    font-size: 20px; 
}

.navbar a:hover {
    color: #dddddd;
    text-decoration: underline;
}
